<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="filePath" value="D:\Project\PurseManager\BudgetManagerData" />
	</appSettings>
	<connectionStrings>
		<add name="BudgetManagerData" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BudgetManagerData;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		
		<add name="BudgetManagerDataEntities" 
				connectionString="metadata=res://*/Data.BaseDBModel.csdl|res://*/Data.BaseDBModel.ssdl|res://*/Data.BaseDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
				data source=(localdb)\MSSQLLocalDB;initial catalog=BudgetManagerData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>