<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="filePath" value="D:\Project\PurseManager\Data\PurseDatabase" />
	</appSettings>
	<connectionStrings>
		<add name="PurseDatabase" providerName="System.Data.SqlClient"  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Project\PurseManager\BudgetManager\Data\PurseDatabase.mdf;Integrated Security=True"/>
		<add name="BudgetManagerDataEntities" connectionString="metadata=res://*/Data.BaseDBModel.csdl|res://*/Data.BaseDBModel.ssdl|res://*/Data.BaseDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
			data source=(localdb)\MSSQLLocalDB;initial catalog=BudgetManagerData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="PurseDatabaseEntities" connectionString="metadata=res://*/Data.BaseModel.csdl|res://*/Data.BaseModel.ssdl|res://*/Data.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
			data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\Project\PurseManager\BudgetManager\Data\PurseDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>