<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="D:\Project\PurseManager\PurseManagerDB"/>
	</appSettings>
	<connectionStrings>
		<add  name="OperationsHistoryDB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Project\PurseManager\PurseManager\Data\PurseDatabase.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>